* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: Verdana;
}

/* HEADER */
.header {
    height: 60px;
    background: #2c3e50;
    color: rgb(250, 249, 194);
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
}

/* MAIN AREA */
.main {
    height: calc(100vh - 60px);
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 350px;
    min-width: 200px;
    max-width: 600px;

    background: #cee4f1;
    padding: 10px;

    overflow-x: auto;
    overflow-y: auto;
    flex-shrink: 0;

    white-space: nowrap;
}

.stype, .sstype {
  background-color: var(--nav-color);
  color: var(--nav-txt-color);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: 'Verdana';
  font-size: 15px;
  transition: 0.3s;
}

.active, .stype:hover {
  font-weight: bold;
}

.active, .sstype:hover {
  font-weight: bold;
}

.panel {
  padding: 0 30px;
  display: none;
  background-color: var(--main-frm-color);
  font-family: 'Verdana';
  font-size: 15px;
  overflow: hidden;
}


/* RESIZE DIVIDER */
.resizer {
    width: 6px;
    cursor: col-resize;
    background: #bdc3c7;
}
.resizer:hover {
    background: #34db98;
}

/* CONTENT AREA */
.content {
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* TAB BAR */
.tab-bar {
    display: flex;
    background: #34495e;
}

.tab-button {
    padding: 12px 20px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.tab-button:hover {
    background: #4a6178;
}

.tab-button.active {
    background: #3498db;
}

/* TAB CONTENT */
.tab-content-container {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.tab-content {
    display: none;
    height: 100%;

    overflow-x: auto;
    overflow-y: auto;

    padding: 20px;
}

.tab-content.active {
    display: block;
}

/* CARDS */
.card {
  background-color: var(--card-bg-color);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.12);
  margin-left: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}
.card-header {
  padding: 5px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--card-hdr-bg-color);
}
.card-header h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--card-txt-color);
}
.card-body {
  padding: 10px;
}

/* Demo content */
.large-content {
    width: fit-content;
    min-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
}